<div class="jumbotron"> 
<h1>Welcome to Ben's Pinterested</h1>
<p>My first ruby on rails project</p>
<%=link_to 'Home', root_path, class:'btn btn-primary' %>
<%=link_to 'About Us', home_about_path,class:'btn btn-success'  %>
</div>